body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: rgb(248, 248, 248);
}

/*header start*/
header, .nav_bar{
    display: flex;
    height: 150px;
}

header{
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: white;
    box-shadow: 0px 
    1px 20px lightgray;
    z-index: 2;
}

header img{
    height: 150px;
    margin-left: 0px;
}

.nav_bar_right li{
    float: left;
}

.nav_bar_left li{
    float: right;
}

.nav_bar_left{
    margin-right: 20px;
}

nav li{
    list-style: none;
    font-size: 1.4em;
    padding: 40px;
}

a {
    text-decoration: none;
    color: black;
}


.nav_bar_left li:hover,.nav_bar_right li:hover{
    text-decoration: underline;
}

.active{
    font-weight: bold;
}
/*header end*/

/*main start*/

main{
    position: relative;
    margin-top: 125px;
    padding: 50px;
    background: white;
    width: 1100px;
    margin-right:  auto;
    margin-left: auto;
    box-shadow: 0px 0px 20px lightgray;
    z-index: 1;
}

/*banniere start*/
.banniere{
    position: relative;
    height: 900px;
    width: 100%;
    margin-top: 150px;
}

.banniere_img{
    position: absolute;
    filter: brightness(0.5);
    width: 100%;
}

.banniere_text{
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    color: white;
    text-shadow: black 1px 1px 20px;
    font-size: 1.4em;
    text-align: center;
}

/*banniere end*/

.peluche_title{
    text-align: center;
    text-shadow: gray 1px 1px 10px;
}

.products_description{
    background: #E6F4FA;
    border-radius: 10px;
    padding: 15px;
    box-sizing: content-box;
}

.product_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product img{
    width: 500px;
    height: 450px;
    margin-top: 50px;
    box-shadow: 0px 0px 20px lightgray;
}

.product h3{
    text-align: center;
    border: 3px 3px 3px;
}

.product img:hover{
    box-shadow: 0px 0px 15px gray;
}

/*main end*/


/*product section start*/

.main_product{
    display: flex;
    justify-content: space-around;
}

.product_section{
    padding: 25px;
    width: 550px;
}

.product_section img{
    width: 600px;
}

/*aside start*/

aside{
    background: white;
    height: 600px;
    width: 300px;
    background: rgb(250, 240, 248);
    padding: 25px;
    margin-top: 100px;
    box-shadow: 0px 0px 20px lightgray;
}

aside h2{
    text-decoration: underline;
}
/*aside endd*/

/*product section end*/

/*footer starttt*/

footer{
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    height: 300px;
    background-color: #F3E9F1;
    box-shadow: 0px 
    1px 20px lightgray;
    z-index: 2;
}

.footer_main_section{
    display: flex;
    justify-content: space-evenly;
}

footer li{
    list-style: none;
    padding: 10px;
}

.bottom_footer{
    position: relative;
    text-align: center;
    bottom: -20px;
    margin: auto;
    font-style: italic;
    color: grey;
}

footer div{
    text-align: center;
}

/*footer enddddddd*/

/*pannier starttttttttt*/

.articles{
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

table{
    width: 100%;
    margin: auto;
}

tbody{
    width: 100%;
}

tr{
    border-bottom: grey 1px;
}

.ligne{
    margin-bottom:  50px;
    justify-content: center;
    border-bottom: grey 1px solid;
}

td img{
    width: 200px;
}

.delete_bloc{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.delete_button{

    color: red;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

button{
    font-size: 1.2em;
    margin: 30px;
    color: white;
}

.back{
    border: none;
    box-shadow: grey 1px 1px 10px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    background: #007bff;
}

.back:active{
    background-color: #6aaffa;
}

.check{
    border: none;
    box-shadow: grey 1px 1px 10px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    background: #28a745;
}

.check:active{
    background-color: #66af77;
}

.total{
    display: flex;
    position: relative;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    align-items: baseline;
    font-size: 1.4em;
    background: #F3E9F1;
}


/*pannier endddddddd*/

/*formulaire start */

form{
    background: #F3E9F1;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px lightgrey;
    width: 60%;
    margin: auto;
    padding-left: 20%;
}

input{
    height: 30px;
    width: 60%;
}

form >fieldset{
    margin: 10px auto 0px auto;
    align-items: center;
}

fieldset{
    border: medium none;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

/*formulaire endd*/